.Blogs {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 200vh;
    gap: 3rem;
    position: relative;
    margin-top:2rem;
  }
    .Blogs > div {
    align-items: center;
    justify-content: center;
  }
  /* p{
    text-align:justify;
    font-size: small;
} */

  .name > h4 {
      font-size: 3rem;
      background-color: red;
      /* Create the gradient. */
      background-image: var(--buttonBg);
      text-align: center;
      
      /* Set the background size and repeat properties. */
      background-size: 100%;
      background-repeat: repeat;
    
      /* Use the text as a mask for the background. */
      /* This will show the gradient as a text color rather than element bg. */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
  }
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .article-row{
   display: flex;
   margin-left: 100px;
  }
  .more-articles-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:100%;
  }
  .more-articles-col .card{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    margin: 20px 30px; 
    flex:1;
    background-color: #fff;
    border-radius: 0%;
    width:20vh;
    height:64vh;
  }
  .more-articles-col .card img{
    width:100%;
    height:auto;
    justify-content:center;
  }
  .more-articles-col .card h4{
   margin-top: 10px;
   margin-left: 10px;
   font-size: 18px;
  }
  .more-articles-col .card p{
   font-size: 14px;
   line-height: 1.5;
   padding: 10px;
  }
