@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #f8e2ce;
}

nav {
    background-color: #d7771d;
    color: white;
    height: 100vh;
    width: 180px;
    float: left;
    padding: 0;
    margin-right: 10px;
    position: fixed;
}

nav a {
    font-family:'Abril Fatface';
    text-decoration: none;
    color: #f6dac0;
    padding: 20px 30px;
    display: inline-block;
    margin-right: 10px;
}

nav a:hover {
    background-color: #874b12;
    color: white;
    width: 120px;
}

.img_logo {
    max-height: 150px;
    padding: 10px;
}

h1{
    font-family:'Abril Fatface';
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-top: 20px;
}

hr{
    height: 1px;
    background-color:#E5E7E9;
    border: none;
}

.about-us
{
    display:flex;  
    margin-left: 200px;
}

p{
    text-align:justify;
}

section{
    padding:3%;
}