body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8e2ce;
}

nav {
    background-color: #d7771d;
    color: white;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #f6dac0;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 10px;
}

nav a:hover {
    background-color: #874b12;
    color: white;
}

img {
    max-height: 50px;
    position: fixed;
    top: 4px;
    left: 515px;
}